.remove-padding{
    padding: none;
}

.padding-top{
  padding-top:5%;
}

.navy-button{
  background-color: $mke-navy;
  border-color: $mke-navy;
}

.spinner {
  color: $mke-light-blue;
  margin-right: 2px;
}
