.main-container{
     padding-top: 50%;
}

.background-image {
     background-image: url("images/mke-skyline.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

}

.main-row{
    padding:5%;
}