.splash-image{
    padding-bottom: 10%;

}

.splash-header{
    color: $mke-navy;
    font-family: "Arial Black", Gadget, sans-serif;
    text-align: center;
    padding-top: 25%;
    padding-bottom: 10%;
    padding-left:5%;
}

.splash-background {
     background-image: url("images/sky-image.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

}