@import '~bootstrap/scss/bootstrap.scss';
@import '/styles/colors.scss';
@import './styles/general.scss';
@import './styles/main.scss';
@import '/styles/splash.scss';
@import '/styles/menu.scss';
@import '/styles/map.scss';
@import url('https://fonts.googleapis.com/css?family=Philosopher');


h1, h3, h4, h5, h6, h2, a, p, .h5 {
  font-family: 'Philosopher', cursive;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header {
  position: fixed;
  right:30px;
  top: 36px;
  padding: 0;
  margin:0;
  font-size: 1.3rem;
}

.loading {
  padding-top: 60%;
}
