body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*.gm-style > div > div > div > div > div > div > div{*/
  /*width: auto !important;*/
/*}*/

.detail-container {
  padding-top: 30%;
}

.marker {
  width: 40px;
  position: relative;
  left: -20px;
  top: -40px;
  cursor: pointer;
}

.marker-text {
  background-color: ghostwhite;
  z-index: 1000;
  width: 170px;
  position: relative;
  left: -70px;
  top: -40px;
  padding: 5px;
  border-radius: 5px;
}

.marker-text p {
  margin: 0;
  font-size: 13px;
}
